* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #f5edfb;
  color: #2e2931;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.center {
  text-align: center;
}
